<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> -->

    <title>MindReader</title>

    <script type="text/javascript" src="/staticFiles/script/jquery-2.1.3.min.js"></script>
    <link type="text/css" rel="stylesheet"  href="/staticFiles/bootstrap/css/bootstrap.min.css" >
    <link rel="script" href="/staticFiles/bootstrap/js/bootstrap.min.js">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/staticFiles/stylesheets/clickablePanel.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/staticFiles/font-awesome/css/font-awesome.min.css">


    <script type="application/javascript" src="/staticFiles/script/fastclick.js"></script>
    <script>
        if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body);
            }, false);
        }
    </script>


    <style>

      .myTooltip + .tooltip > .tooltip-inner {
          font-size: 110%;
          background-color: #ffffff;
          color: #000000;
          border: 1px solid #000000;

          opacity: 1.0;
          filter: alpha(opacity=100);
      }
      .tooltip.in{opacity:1!important;}

        .square {
            background-color: rgba(255, 161, 51, 0.5);
            padding-top: 8%;
            padding-bottom: 8%;
            font-size: 150%;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            border-style: solid;
            border-width: 1px;
            border-color: white;
        }
        .s2{  background-color: #faf78b
        }
        .s3{  background-color: #d1d1d1
        }
        .square:hover{  background-color: rgba(255, 0, 129, 0.3)
        }

    </style>





</head>


<!--
lavenderblush;
lavender
rgba(102, 14, 255, 0.2)
-->


<body>





<!-- Intro: xs window only -->
<nav class="navbar navbar-default hidden-sm hidden-md hidden-lg">
  <div class="container-fluid">
        <div class="navbar-header" role="navigation" style="background: white;">
          <div class="container">
              <div class="row">
                  <div class="col-xs-3 col-sm-offset-5 col-sm-5">
                  </div>
                  <div class="col-xs-6 col-sm-offset-5 col-sm-5">
                      <h3 class="text-center" style="margin-top: 0px;padding-top: 10px;color:#7a7a7a;"  href="#"><strong>Mind Reader</strong></h3>
                  </div>
              </div>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar" style="background: white;">
          <ul class="nav navbar-nav">
                    <p class="text-center"><small>It's a race to the finish. Press a key,  <span class="glyphicon glyphicon-triangle-left"></span> or
                         <span class="glyphicon glyphicon-triangle-right white-tooltip"></span>. If the Bot guesses your key, it moves forward. If not, you move forward.
                Play smart but move fast, if the green columns disappear you lose!</small>  </p>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
  </div>
</nav>

<!-- Intro: sm, md,lg windows -->
<div class="container-fluid  hidden-xs">
    <div class="jumbotron" style="background-color: white; margin-bottom:0px;margin-top:0px;padding-bottom:0px;padding-top:0px">
        <div class="row">
            <div class="col-sm-offset-2 col-xs-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-md-6">
                <h1 class="text-center">Mind Reader</h1>
            </div>
        </div>

        <hr class="hidden-lg hidden-md">
        <h3 class="text-center">Can computers read your mind?!?</h3>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <p class="text-center"><small>It's a race to the finish. Press a key,  <span class="glyphicon glyphicon-triangle-left"></span> or
                     <span class="glyphicon glyphicon-triangle-right"></span>. If the Bot guesses your key, it moves forward. If not, you move forward.
            Press <strong>C</strong> to Cheat. Play smart but move fast, if the green columns disappear you lose!</small>  </p>
            </div>
        </div>
    </div>
</div>

<!-- Website Body -->
<div class="container-fluid ">

    <!-- Opponent Chooser -->

    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <img class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 hidden-xs"
                        src="/staticFiles/images/bots/speed.png" >
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-8 col-md-offset-3 col-md-6" style="border: solid; border-width: 1px;"  >

                {% for level in ["Beginner","Intermediate","Hard","Pro"] %}
                    <div class="row">
                    {% for speed in ["Slow","Medium","Fast","Lightning"] %}
                        {% if anonymous == 'true' or  user.gameStats.score["Total"] >= user.bot[ level+"_"+speed ].bet  %}
                        <div class="col-xs-3 square {{user.bot[level+'_'+speed].color}}"
                             onclick="bots.botClicked('{{level}}','{{speed}}',{{user.bot[level+"_"+speed].bet}})">{{user.bot[level+"_"+speed].bet}}</div>
                        {% else %}
                        <div class="col-xs-3 square s3"
                             onclick="bots.greyClicked('{{level}}','{{speed}}',{{user.bot[level+"_"+speed].bet}})">{{user.bot[level+"_"+speed].bet}}</div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}

                </div>
                <img class="col-xs-3 col-md-2 hidden-xs"
                     src="/staticFiles/images/bots/difficulty5.png" > 

            </div>
        </div>




        <!-- Control Console -->
        <div class="col-xs-12 col-md-4" id="controlConsole">
            <h1 class="text-center"  style="margin-bottom: 20px">Game Settings</h1>
            {% if anonymous == 'false' %}
            <h4 class="text-center" style="color: #5d5d5d" > You have <strong style="color: #40aa43">{{user.gameStats.score["Total"]}}</strong> points.</h4>
            {% endif %}
            <div id="starter" class="row">
                <h2 style="color: #9f9f9f" class="text-center">
                    &nbsp Make a Wager!
                    <span style="font-size: 60%;color: #9f9f9f" class="glyphicon glyphicon-question-sign myTooltip hidden-xs" data-toggle="tooltip" data-placement="bottom"
                          title="For each game you must bet a certain number of points. This bet is based on the game's speed and difficulty." ></span>
                </h2>
            </div>
            <div id="gameSettings" class="hidden">
                <div class="text-center" style="padding: 0;">
                    <table class="table table-condensed">
                        <tbody>
                              <tr>
                                <td class="text-left"><strong>Difficulty</strong></td>
                                <td class="text-left" id="td_difficulty" ></td>
                              </tr>
                              <tr>
                                <td class="text-left"><strong>Speed</strong></td>
                                <td class="text-left" id="td_speed" ></td>
                              </tr>
                              <tr>
                                <td class="text-left"><strong>Bet </strong></td>
                                <td class="text-left" id="td_bet" ></td>
                              </tr>
                        </tbody>
                    </table>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <button id="startButton" onclick="bots.startClicked()" data-toggle="tooltip" title="play a game for points!" class="btn btn-lg btn-success">Play</button>
                    &nbsp &nbsp
                    <button onclick="bots.startClicked()" data-toggle="tooltip" title="when practicing your points remain unchanged" class="btn btn-lg btn-warning">Practice</button>
                    <!--&nbsp &nbsp
                    &nbsp &nbsp
                    <button onclick="bots.startClicked()" data-toggle="tooltip" title="Practice" class="btn btn-lg btn-danger">Practice</button>
                    -->
                </div>
            </div>


        </div>

        </div>

    </div>
    <div class="jumbotron" style="background-color: white"> &nbsp </div>

</div>




<script>$(document).ready(function(){ $('[data-toggle="tooltip"]').tooltip(); });</script>


</body>



<input  type="hidden" name="anonymous_old" value="{{anonymous}}" class="form-control" id="anonymous_old">
<script  src="/staticFiles/script/FB.js"></script>
<script  src="/staticFiles/script/Bots.js"></script>
<script>
    var bots = new Bots();

</script>




</html>
































